.gallery-panel{
      margin: 5px 5px 5px 5px;
      max-width: calc(240px + 10px);
      background-color: mintcream;
}

.gallery-image{
      max-width: 240px;
      height: auto;
}

.gallery-panel-title{
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

.flex{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
}